.select-containers-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f9f9f9;
	min-height: 100vh; 
	max-height: 100vh;
	padding: 20px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content-container{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 90%;
    text-align: center;
}


.info-section {
    display: flex;
    margin-top: 60px;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    gap: 150px;
    font-size: 15px;
}  

.info-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.info-box p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
      
.begin-button {
    background-color: #003C7D;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.begin-button:hover {
    background-color: #0056b3;
}